name: Cache Demo

on: [push]

jobs:
  cache-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Restore cache
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache-demo
          key: cache-d9f922c

      - name: Create cached file
        run: |
          mkdir -p ~/.cache-demo
          echo "Cached on $(date)" > ~/.cache-demo/file.txt

      - name: prime-cache-d9f922c
        run: |
          echo "Cache hit? ${{ steps.cache.outputs.cache-hit }}"